
{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
<button id="lamp-toggle">
    Off
</button>
{% endblock content %}

{% block additional_scripts %}
<script>
    $(document).ready(function() {
        let lampSelector = "#lamp-toggle"
        $(lampSelector).click(function(event) {
            $.ajax({
                url: "{{ url|safe }}",
                type: "POST",
                data: {
                    status: $(lampSelector).text()
                },
                success: function(response) {
                    console.log($(lampSelector).text());
                    let newStatus = $(lampSelector).text() == "Off" ? "On" : "Off";
                    $(lampSelector).text(newStatus);
                },
                error: function(error) {
                    console.error(error);
                }
            });
        });
    });
</script>
{% endblock additional_scripts %}